/*ANIMATIONS*/
@keyframes colorchangemenu {
    0% {
        background: powderblue
    }

    100% {
        background: #0072ff
    }
}

@keyframes colorchangebg {
    0% {
        background: white
    }

    100% {
        background: powderblue
    }
}

@keyframes fade_in {
    0% {
        opacity: 0;
    }

    90% {
        opacity: 1;
    }
}

@keyframes scale_up {
    0% {
        transform: scale(0);
    }

    50% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}
/*ANIMATIONS END*/

/*SPECIAL RULES*/
@media print {
    .noprint {
        display: none;
    }

    .printarea {
        display: block !important;
        background-color: white;
    }
}
/*SPECIAL RULES END*/

/*DEFAULT RULES*/
body {
    position: relative;
    min-height: 100vh;
    background-color: white;
    margin: 0;
    padding: 0;
    z-index: -100;
    font-family: 'Open Sans', sans-serif;
}

h1 {
    color: rgba(0, 114, 255);
    text-align: center;
}

h2 {
    color: rgba(0, 114, 255);
}

p {
    color: black;
}
/*DEFAULT RUKES END*/

/*MENUS*/
/*MENU DEFAULT*/
.center_item {
    margin: auto;
}

.menu_item {
    height: inherit;
}

.center_btn {
    display: inline;
}

.menu_container {
    height: 50%;
}

.menu_btn {
    min-width: 2%;
    font-size: 1em;
}

.btn_nav {
    background-color: rgba(0, 114, 255,0);
    border: none;
    color: white;
    text-decoration: none;
    cursor: pointer;
    margin: auto;
}

    .btn_nav:hover {
        background-color: rgba(255,255,255,0.15);
    }

.btn_seperator {
    border-width: 0.05vw;
    border-style: none none none solid;
    color: white;
}
/*MENU DEFAULT END*/

/*MAINMENU*/
.animate_menu {
    animation: colorchangemenu 2s;
}

    .animate_menu > * {
        animation: fade_in 1.5s;
    }

.header_menu {
    height: calc((10vh + 5vw) / 2);
    background-color: #0072ff;
    position: fixed;
    top: 0;
    width: 100%;
    /* height: 10vh !important; */
    vertical-align: middle;
	z-index: 10;
}

.wrapper_menu {
    height: calc((10vh + 5vw) / 2);
}

.logo_adjust {
    height: calc((10vh + 5vw) / 2.5);
    padding-bottom: 2%;
    padding-top: 2%;
}

.search_bar {
    float: left;
    height: 100%;
    width: auto;
    font-size: 150%;
    margin: 0 0 0 0;
    padding-left: 1%;
    padding-right: 1%;
    padding-bottom: 0;
    padding-top: 0;
    color: white;
    border: none;
    background-color: rgba(255,255,255,0);
    grid-column: 1/4;
}

    .search_bar:hover {
        background-color: rgba(255,255,255,0.25);
    }

.search_btn {
    background-color: rgba(0, 114, 255,0);
    border: none;
    color: white;
    text-decoration: none;
    cursor: pointer;
    width: auto;
    margin: 0 0 0 0;
    padding-bottom: 0;
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
    height: 100%;
    font-size: 1em;
    float: right;
    grid-column: 4;
}
.filter_btn {
    background-color: rgba(0, 114, 255,0);
    border: none;
    color: white;
    text-decoration: none;
    cursor: pointer;
    width: auto;
    margin: 0 0 0 0;
    padding-bottom: 0;
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
    height: 100%;
    font-size: 1em;
    float: right;
}
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  margin-top: 20px;
  background-color: #0072ff;
  min-width: 100px;
  overflow: auto;
  border: 1px solid #ddd;
  z-index: 2;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {background-color: #ddd;}

.show {display: block;}
    .search_btn:hover, .search_btn:focus {
        background-color: rgba(255,255,255,0.25);
    }

.search_form {
    width: 100%;
    background-color: rgba(255,255,255,0.15);
    color: rgba(255,255,255,0.55);
    border-width: 0.05%;
    border-style: solid;
    height: 45%;
    padding: 0 0 0 0;
}
/*MAINMENU END*/

/*FOOTER*/
.animate_footer {
    animation: fade_in 1.5s;
}

.footer_menu {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #0072ff;
    width: 94%;
    padding-left: 3%;
    padding-right: 3%;
    padding-bottom: 1%;
    padding-top: 1%;
    vertical-align: bottom;
    height: calc((10vh + 5vw) / 3);


}
/*FOOTER END*/

/*MENUS END*/

/*CONTENT*/
/*DEFAULT CONTENT*/
.wrapper_content {
    display: grid;
    column-gap: 1vw;
    grid-row-gap: 1vh;
    grid-auto-rows: inherit;
    grid-auto-columns: inherit;
    overflow: auto;
}

.main_content {
    padding-top: 7.5%;
    padding-left: 5%;
    padding-right: 5%;
}

.content_spacer {
    padding-bottom: calc((10vh + 5vw) / 1.5);
    padding-top: calc((10vh + 5vw) / 2);
}
/*DEFAULT CONTENT END*/

/*ARTICLE SPECIAL RULES*/
.animate_content > * {
    animation: scale_up 0.75s;
}

.article_layout {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: inherit;
    grid-auto-columns: inherit;
    overflow: auto;
    padding: inherit;
    padding: 0 3%;
}

.article_content_wrapper {
    position: relative;
    bottom: 0;

}

.article_content {
    position: relative;
    bottom: 0;
    margin: 3%;
}

.article_define {
    width: 100%;
    height: 100%;
    border-style: none;
    background-color: rgba(0, 114, 255,0.1);
    margin: 0.125%;
    z-index: -1;
    overflow: hidden;
}
.content_container{
    position: relative;
}

.over {
	position: absolute;
    transform: translateY(-100%);
	background: rgba(230, 245,255,1);
	opacity: 0;
	z-index:1;
}
.over:hover{
	opacity: 100;
}
.amount_form{
	width: 20%;
}
.add_btn{
	width: Auto;
}

.article_group {
    text-align: left;
    margin: 0 0 0 0;
}

.article_image {
    object-fit: cover;
    object-position: 66% 0;
    width: 90%;
    height: auto;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5%;
}

.article_title {
margin: 0 5%;
    font-size: calc((2vh + 2vw) / 2);
    width: inherit;
}

.article_number {
 margin: 0 0 0 0;
 text-align:right;
    font-size: 100%;
}

.article_price {
    text-align: right;
    margin: 0 0 0 0;
    font-size: calc((2vw + 2vh)/ 2);
}
.article_description {
	margin-left: 5.3%;
	margin-right: 5.3%;
	margin-bottom: 1.6%;
	margin-top: 1.6%;	
	font-size: 70%/*calc((2vw + 2vh)/ 2; does not work position absolute*/
}
.smallText{
	padding-top:1%;
	display:inline;
	margin-left: 5.3%;
	margin-right: 5.3%;
	margin-bottom: 1.6%;
	margin-top: 1.6%;	
	font-size: 70%; /*calc((2vw + 2vh)/ 3;*/
}
/*ARTICLE SPECIAL RULES END*/

/*SHOPPING CART RULES*/
.cart_image {
    grid-column: 1/2;
    width: 100%;
}

.wrapper_article {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    row-gap: 1vw;
    column-gap: 1vw;
    grid-auto-rows: minmax(20%, auto);
}

.cart_title {
    grid-column: 2/3;
}

.cart_priceeach {
    grid-column: 3/4;
}

.cart_amount {
    grid-column: 4/5;
}

.cart_price {
    grid-column: 5/6;
}
/*SHOPPING CART RULES END*/

/*LOGIN SPECIAL RULES*/
.animate_login, .animate_login_container {
    animation: fade_in 1s;
    animation: scale_up 0.5s;
}

.login {
    position: absolute;
    margin: -150px 0 0 -150px;
    top: 50%;
    left: 50%;
    width: 300px;
    height: 300px;
    z-index: 0;
}

.register {
    position: absolute;
    margin: -200px 0 0 -150px;
    top: 50%;
    left: 50%;
    width: 300px;
    height: 300px;
    z-index: 0;
}


.login_container {
    position: absolute;
    margin: -200px 0 0 -200px;
    top: 50%;
    left: 50%;
    width: 400px;
    height: 400px;
    background-color: rgba(0, 114, 255,0.1);
    z-index: -1;
}

.register_container {
    position: absolute;
    margin: -200px 0 0 -200px;
    top: 50%;
    left: 50%;
    width: 400px;
    height: 500px;
    background-color: rgba(0, 114, 255,0.1);
    z-index: -1;
}

.login h1, .register h1 {
    color: #0072ff;
    text-shadow: 0 0 10px rgba(0,0,0,0.3);
    letter-spacing: 1px;
    text-align: center;
}

.input_btn {
    width: 90%;
    margin-bottom: 10px;
    background: rgba(0,0,0,0.3);
    border: none;
    outline: none;
    padding: 10px;
    font-size: 13px;
    color: #fff;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
    border: 1px solid rgba(0,0,0,0.3);
    border-radius: 4px;
    box-shadow: inset 0 -5px 45px rgba(100,100,100,0.2), 0 1px 1px rgba(255,255,255,0.2);
    transition: box-shadow .5s ease;
}

    .input_btn:focus {
        box-shadow: inset 0 -5px 45px rgba(100,100,100,0.4), 0 1px 1px rgba(255,255,255,0.2);
    }

.btn {
    display: inline-block;
    padding: 4px 10px 4px;
    margin-bottom: 0;
    font-size: 13px;
    line-height: 18px;
    color: #333333;
    text-align: center;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    vertical-align: middle;
    background-color: #f5f5f5;
    border-color: #e6e6e6 #e6e6e6 #e6e6e6;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    border: 1px solid #e6e6e6;
    border-radius: 4px;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    cursor: pointer;
    *margin-left: .3em;
}

    .btn:hover,
    .btn:active,
    .btn.active,
    .btn.disabled,
    .btn[disabled] {
        background-color: #e6e6e6;
    }

.btn-large {
    padding: 9px 14px;
    font-size: 15px;
    line-height: normal;
    border-radius: 5px;
}

.btn:hover {
    color: #333333;
    text-decoration: none;
    background-color: #e6e6e6;
    background-position: 0 -15px;
    transition: background-position 0.1s linear;
}

.btn-primary,
.btn-primary:hover {
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    color: #ffffff;
}

    .btn-primary.active {
        color: rgba(255, 255, 255, 0.75);
    }

.btn-primary {
    background-color: #4a77d4;
    background-image: -webkit-linear-gradient(top, #6eb6de, #4a77d4);
    background-repeat: repeat-x;
    border: 1px solid #3762bc;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.4);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.5);
}

    .btn-primary:hover,
    .btn-primary:active,
    .btn-primary.active,
    .btn-primary.disabled,
    .btn-primary[disabled] {
        filter: none;
        background-color: #4a77d4;
    }

.btn-block {
    width: 97.5%;
    display: block;
}

.login_link, .register_link {
    font-size: 80%;
}
/*LOGIN SPECIAL RULES END*/
/*CONTENT END*/

